div {
  text-align: center;
  padding: 5px;

  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
 h1 {
  font-size: 36px;
  color: #c219a6;
  margin-bottom: 20px;
}

p {
  font-size: 30px;
  color: #f23bd4;
  margin-bottom: 10px;
}


.button {
  display: inline-block;

  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: solid;
  transition: background-color 0.3s;
  font-size: 150;
}

.button:hover {
  background-color: #0056b3;
}

.NavBar a {
  color: white; /* Text color for the links */
  text-decoration: none; /* Remove underlines from links */
  margin: 0 10px; /* Add spacing between links */
}

/* Style for active link */
.NavBar a.active {
  font-weight: bold; /* Make the active link bold */
}

body {
  background-image: url("https://media.tenor.com/oqt69E8cWukAAAAC/zodiac-zodiacs.gif"); /* Replace with the correct path or URL to your GIF file */
  background-size: cover;
}
